{
	"swagger": "2.0",
	"info": {
		"description": "Документация для интерактивной карты метро",
		"version": "1.0.0",
		"title": "Map backend"
	},
	"host": "f1remoon.com",
	"basePath": "/map",
	"tags": [
		{
			"name": "color",
			"description": "Цвета, используемые в карте"
		},
		{
			"name": "event",
			"description": "Всё о событиях на карте"
		}
	],
	"schemes": [ "http" ],
	"paths": {
		"/colors": {
			"get": {
				"tags": [ "color" ],
				"summary": "Возвращает все используемые в карте цвета",
				"description": "",
				"produces": [ "application/json" ],
				"responses": {
					"200": {
						"description": "Успех",
						"schema": {
							"$ref": "#/definitions/colors"
						}
					}
				} 
			}
		},
		"/events": {
			"get": {
				"tags": [ "event" ],
				"summary": "Возвращает все события, отсортированные по возрастанию времени",
				"description": "",
				"produces": [ "application/json" ],
				"responses": {
					"200": {
						"description": "Успех",
						"schema": {
							"$ref": "#/definitions/events"
						}
					}
				} 
				
			}
		}
	},
	"definitions": {
		"color": {
			"type": "object",
			"required": [
				"id",
				"color"
			],
			"properties": {
				"id": {
					"type": "integer",
					"format": "int64"
				},
				"color": {
					"type": "integer",
					"format": "int64"
				}
			}
		},
		"colors": {
			"type": "array",
			"items": {
				"$ref": "#/definitions/color",
				"$ref": "#/definitions/color"
			}
		},
		"event": {
			"type": "object",
			"required": [
				"id",
				"name",
				"description",
				"time"
			],
			"properties": {
				"id": {
					"type": "integer",
					"format": "int64"
				},
				"name": {
					"type": "string"
				},
				"description": {
					"type": "string"
				},
				"time": {
					"type": "integer",
					"format": "int64"
				}
			}
		},
		"events": {
			"type": "array",
			"items": {
				"$ref": "#/definitions/event"
			}
		}

	}
}
